.col
{
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.col-last
{
	margin-left: 25px;
	margin-right: 25px;
}

.submit-ticket-container
{
	padding-top: 25px;
}

.submit-ticket-container input
{
	width: 100%;
	height: 35px;
	padding: 5px;
}

.submit-ticket-container textarea
{
	width: 100%;
	height: 94px;
	resize: none;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

.submit-ticket-container select
{
	height: 35px;
	padding: 5px;
	width: 100%;
}

#btnSubmit
{
	background-color: #ee3324;
	color: #fff;
	border: none;
	font-weight: bold;
	font-size: 17px;
}
